<div id="subscription-app-block" data-page-type="{{ request.page_type }}">
    
</div>

{% schema %}
{
  "name": "Subscription",
  "templates": [
    "index",
    "product"
  ],
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "About this block"
    },
    {
      "type": "paragraph",
      "content": "This is section"
    }
  ]
}
{% endschema %}   

