#subscription-main-body {
  padding: 4rem 3rem;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}
h2{
  font-weight: bold;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #f22600;
  padding: .5rem 1rem !important;
  text-align: left;
}

#contract-header,
#contractId {
  display: flex;
  justify-content: space-between;
}
#contractId p{
  font-size: 16px;
  margin: 5px;
}
p{
  font-size: 16px;
  margin: 5px;
}
#card{
  display: flex;
}
#card p{
  width: 50%;
}
#subscription-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-div{
  text-align: right;
}

#subscription-footer p {
  margin: 0 !important;
}

#title-img,
#contract-footer {
  display: flex;
  justify-content: start;
}

/* .subscription-manage {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.subscription-manage svg {
  display: block;
}
 */

.sub-table-head {
  background-color: #f22600;
  color: white;
}

tr {
  font-weight: bold;
}
.sub-table-head:hover{
  color: white !important;
}
tr:hover {
  color: #f22600;
}
 tbody tr:nth-of-type(even) {
  /* background-color: #d2f3e9; */
}

 tbody tr:last-of-type {
  border-bottom: 2px solid #f22600;
}
.btn {
  background: #f22600;
  color: white;
  border-radius: 9px;
  border: 1px solid #f22600;
  padding: 8px 20px;
  cursor: pointer;
  margin: 5px;
}
button:disabled{
  opacity: .5;
  cursor: not-allowed;
}
#pagination-detail{
  font-size: 14px !important;
}

.eye-svg:hover path {
  stroke: #f22600;
}
#card p b{
  color: #f22600
}
.ticketIds-listing{
  margin-top: 2rem;
}
#cancelModalHead, #cancelModalBody{
  color : black;
}

.draw-cards{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.active-draw-card{
  /* width: 100%; */
  background-color: #f22600;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
/* .main-active-draws h3{
  margin-bottom: .7rem;
} */
.active-draw-card p{
  line-height: 1.5;
}
.red-bold{
  color: #f22600;
  font-weight: 500;
}
#cancelBtn{
  display: none;
}
.drawsList{
  max-width: 100%;
}
.pagination{
  margin-top: 1rem;
}




.select {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: max-content;
}
.select h4{
  color: #fff
}
.select .selectBtn {
  background: var(--bg1);
  padding: 5px 30px 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  color: #000;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
}
.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 6px;
  height: 6px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transition: 0.2s ease;
}
.select .selectBtn.toggle {
  border-radius: 3px 3px 0 0;
}
.select .selectBtn.toggle:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}
.select .selectDropdown {
  color:#000;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.select .selectDropdown .option:hover {
  background: #f8f8f8;
}
.select .selectDropdown.toggle {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
#user-input {
  gap: 10px;
  flex-wrap: wrap;
}

#user-input .btn {
  border-radius: 0px;
  padding: 10px 20px;
  margin: 0;
}













/*******for loader css start ******/

div:empty {
  display: block !important;
}

#loader {
  margin: 100px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f22600;;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*******for loader css end ******/

/******for toast msg css start******/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/******for toast msg css end******/
/*modal css start****/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body.modal-open {
  overflow: hidden;
  height: 100%;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px 20px 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #f22600;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*********modal css end*********/

.ticket-details{
  margin-top: 3rem;
}
#applied-tickets-input{
  padding: 0 10px;
}


/* table css start */
.subscription-details, #product-list {
  overflow-x: auto;
  white-space: nowrap;
}
.subscription-details table, #product-list table {
  table-layout: unset;
  border: 1px solid #fff3;
}
/* table css end */


@media screen and (max-width:767px){
#subscription-footer {
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 10px;
}
#contractId .btn {
  padding: 8px 9px;
  font-size: 12px;
}
.select .selectBtn {
  font-size: 14px;
  padding: 5px 25px 5px 10px;
}
.select .selectBtn:after {
  right: 9px;
}
}