#subscription-main-body {
  padding: 2rem;
  width: 80%;
  margin: auto;
  min-height: 300px;
}
h2{
  font-weight: bold;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #f22600;
  padding: .5rem 1rem !important;
  text-align: left;
}

#contract-header,
#contractId {
  display: flex;
  justify-content: space-between;
}
#contractId p{
  font-size: 16px;
  margin: 5px;
}
p{
  font-size: 16px;
  margin: 5px;
}
#card{
  display: flex;
}
#card p{
  width: 50%;
}
#subscription-footer {
  display: flex;
  justify-content: space-between
}
.right-div{
  text-align: right;
}

#subscription-footer p {
  margin: 0 !important;
}

#title-img,
#contract-footer {
  display: flex;
  justify-content: start;
}

/* .subscription-manage {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.subscription-manage svg {
  display: block;
}
 */

.sub-table-head {
  background-color: #f22600;
  color: white;
}

tr {
  font-weight: bold;
}
.sub-table-head:hover{
  color: white !important;
}
tr:hover {
  color: #f22600;
}
 tbody tr:nth-of-type(even) {
  /* background-color: #d2f3e9; */
}

 tbody tr:last-of-type {
  border-bottom: 2px solid #f22600;
}
.btn {
  background: #f22600;
  color: white;
  border-radius: 10px;
  border: 1px solid #f22600;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}
button:disabled{
  opacity: .5;
  cursor: not-allowed;
}
#pagination-detail{
  font-size: 14px !important;
}

.eye-svg:hover path {
  stroke: #f22600;
}
#card p b{
  color: #f22600
}
.ticketIds-listing{
  margin-top: 2rem;
}
#cancelModalHead, #cancelModalBody{
  color : black;
}


















/*******for loader css start ******/

div:empty {
  display: block !important;
}

#loader {
  margin: 100px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f22600;;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*******for loader css end ******/

/******for toast msg css start******/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/******for toast msg css end******/
/*modal css start****/
.modal {
  display: none;
  /*Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 120px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px 20px 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #f22600;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*********modal css end*********/